{% extends 'all-gallery/base.html' %}

 {% block content %}
 {{block.super}}

 <div class="container">

   <div class="row">
     {% for results in gallery%}
     {{results.imagedisplay.url}}

    </div> 
    <div class="col-3">
       <img src="{{results.imagedisplay.url}}" class="rounded float-start" alt="...">
       <img src="{{results.imagedisplay.url}}" class="rounded float-end" alt="...">
    {{ results.description}}


    </div>  

    .



     

    
     {% endfor %}
   

   

 {% endblock %}