{% extends 'all-gallery/base.html' %}

{% load static %}

{% block content %}
 {{block.super}}

 <div class="container">
     <div class="container">
         <div class="container text-center">Categories available</div>
         <ul class=" d-flex flex-wrap flex-row justify-content-around list-unstyled" >
         {% for category in categories%}
            <li>{{ category}}</li>
         {% endfor%}
        </ul>
     </div>

    <!-- Adding a search form  -->
    <div class="col-sm-4 col-md-4 navbar-right">

        <h6>{{ message }}</h6>

        <form class="navbar-form" role="search" action="{% url 'search_image' %}">

        <div class="input-group">
            <input type="text" class="form-control" style="width: 100%;" placeholder="Search Image by Category" name="image_category">
            <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
            <button> Search </button>    
                
            </div>
        </div>

        </form>
    </div>
    <!-- search form end -->

    <div class="row">
        {% for image in images %}
            <div class="col-sm-3" style="margin: 10px 20px;">
                <img data-bs-toggle="modal" data-bs-target="#image{{ forloop.counter }}" style="cursor:pointer;width: 200px; height: 200px;" src="{% static image.image %}" alt="Img">
                <div style="font-weight: bold; font-size: 16px;">
                    {{ image.description }}
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="image{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Title: {{ image.description }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div style='
                        background-image: url({% static image.image %});
                        height: 350px;
                        background-position: bottom;
                        background-size: cover;'>

                        </div>
                        <br>
                        <div>
                            Image description: {{ image.description }} <br>
                            Image Location: {{ image.location.location_name }} <br>
                            Image Category: {{ image.category.name }}
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" onclick="copyImage()" class="btn btn-primary" id="myInput">Copy Image URL</button> -->
                    
                    <input type="text" value=({% static image.image %}) id="myInput">
                    <button onclick="myFunction('{% static image.image %}')">Copy Image URL</button>
                    </div>
                    <script>
                        function myFunction() {
                          /* Get the text field */
                          var copyText = document.getElementById("myInput");
                          /* Select the text field */
                          copyText.select();
                          copyText.setSelectionRange(0, 99999); /* For mobile devices */
                          /* Copy the text inside the text field */
                          navigator.clipboard.writeText(copyText.value);
                          /* Alert the copied text */
                          alert("Copied the text: " + copyText.value);
                        }
                        </script>
                  

                                        
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

