
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Gallery</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Category</a>
      <ul class="dropdown-menu">
        {% for category in categories %}

        <li><a class="dropdown-item" href="/search/?image_category={{ category.name }}"> {{ category.name }} </a></li>

        {% endfor %}
        
        
        <!-- <li><a class="dropdown-item" href="#">Separated link</a></li> -->
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"></a>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
    </li>
  </ul>





